input,
select {
  @include font-size(14px);
  font-family: $base-font-family;
  width: auto;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;

  @include medium {
    @include font-size(16px);
    height: 3rem;
    line-height: 3rem;
  }
}
