label {
  @include font-size(16px);
  display: block;
  margin-bottom: 0.5rem;
  color: $white;
  font-weight: 600;

  @include medium {
    @include font-size(18px);
  }

  @include wide {
    @include font-size(20px);
  }
}
