//
// @file
// Creates styles for the btn component.
//

.btn {
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: normal;
  display: table;
  line-height: 1.2em;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  transition: all 0.25s ease;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2em;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1.5rem;

  @include medium-small {
    margin-bottom: 0;
    width: auto;
  }

  &:hover {
    box-shadow: inset 0 0 0 20rem $black-rgba-01;
  }
}

.btn--big {
  padding: 1rem 1.5rem;
}

.btn--big-text {
  @include font-size(16px);

  @include medium-small {
    @include font-size(20px);
  }
}

.btn--outline {
  border-color: currentColor;
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}

.btn--right {
  margin-left: auto;
  margin-right: 0;
}

.btn--red {
  color: $white;
  background-color: $red-primary-0;
  border-color: $red-primary-0;

  &:hover {
    color: $white;
  }
}

.btn--red-outline {
  border-color: $red-primary-0;

  &:hover {
    color: $white;
    background-color: $red-primary-0;
  }
}

.btn--blue {
  color: $white;
  background-color: $blue-primary-2;
  border-color: $blue-primary-2;

  &:hover {
    color: $white;
  }
}

.btn--purple {
  color: $white;
  background-color: $purple-primary-0;
  border-color: $purple-primary-0;

  &:hover {
    color: $white;
  }
}

.btn--green {
  color: $white;
  background-color: $green-primary-0;
  border-color: $green-primary-0;

  &:hover {
    color: $white;
  }
}

.btn--gray {
  color: $black;
  background-color: $gray-light;;
  border-color: $gray-light;;

  &:hover {
    color: $black;
  }
}