//
// @file
// Creates styles for the btn container.
//

.btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include small {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  p {
    display: none;

    @include medium-small {
      display: block;
    }
  }

  .btn {
    &:not(:first-child) {
      margin-top: 1rem;

      @include small {
        margin-top: 0;
      }
    }
  }
}

.btn-container--center {
  margin-left: auto;
  margin-right: auto;
}

.btn-container--3 {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .btn {
    width: calc(100% / 3 - .5rem);
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}