.container {
  margin: 0 auto;
  max-width: $container;

  &--small {
    max-width: calc(#{$container} - 10em);
  }
}

.container--inset {
  padding: 0 1rem;

  @include medium {
    padding: 0 1.5rem;
  }
}
