.message {
  background-color: $red-primary-0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08),
    0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.message__title {
  margin: 0;
  @include font-size(20px);
  font-weight: 600;
  text-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  color: white;

  @include medium {
    @include font-size(23px);
  }

  @include wide {
    @include font-size(26px);
  }
}
