.page-title {
  @include font-size(25px);
  margin-bottom: 1rem;
  max-width: 150px;
  font-weight: 600;
  text-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  color: white;

  @include medium {
    @include font-size(35px);
    margin-bottom: 2rem;
  }

  @include wide {
    @include font-size(40px);
  }
}
